/*Id Selector*/
#Shuvo1{
    color: aqua;
    background-color: black;
}
/*Class Selector*/
.Shuvo2{
    color: firebrick;
    background-color: yellow;
}

/*Group Selector*/
h1,h2,h3,h6,#Shuvo1{
    background-color: red;
    color: violet;
}